/* Resets */
*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	--bg-color: #161616;
	--txt-color: #dadada;
	background-color: var(--bg-color);
	color: var(--txt-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
	--bg-color: transparent;
	--txt-color: #dadada;
	background-color: var(--bg-color);
	color: var(--txt-color);
	list-style: none;
}

input, button {
	--bg-color: #dadada;
	--txt-color: #161616;
	background-color: var(--bg-color);
	color: var(--txt-color);
}

p, span, div, section, header, footer, article, h1, h2, h3 {
	--bg-color: transparent;
	--txt-color: auto;
	background-color: var(--bg-color);
	color: var(--txt-color);
}

a {
	--bg-color: transparent;
	--txt-color: inherit;
	background-color: var(--bg-color);
	color: var(--txt-color);
}

.navbar {
	--bg-color: var(--primary);
	display: flex;
	justify-content: space-between;
	padding-inline: 1rem;
}

.nav-active {
	--txt-color: var(--accent);
}

.nav-menu ul {
	display: flex;
	gap: 1rem;
	letter-spacing: 1.2px;
	font-size: .8rem;
	font-weight: 700;
}

.nav-menu a {
	text-decoration: none;
	transition: color .3s linear;
}

.nav-menu a:hover {
	--txt-color: var(--accent);
}