{% extends "pb-home.html" %}

{% block content %}

	<style>
		.cal-table {
			margin: auto;
			padding: 1rem;
			max-width: 600px;
		}

		.cal-label {
			margin-bottom: 1rem;
			margin-left: 1rem;
		}

		.cal-table div {
			border: 1px solid var(--accent);
		}

		.cal-head {
			--bg-color: var(--accent);
			--txt-color: black;
			font-weight: 700;
			text-align: center;
		}

		.cal-row {
			display: flex;
			justify-content: space-between;
		}

		.cal-day {
			aspect-ratio: 1;
			font-size: .7rem;
			--txt-color: var(--accent);
			--bg-color: #373737;
		}

		.cal-day-dim span {
			opacity: .4;
		}

		.cal-row div {
			flex: 1;
			padding: .5rem;
		}
	</style>

	<div id = 'calendar' class='cal-table'>
		<h1 class="cal-label"></h1>
		<div class="cal-row cal-head">
			{% for d in cal.days %}
				<div>{{ cal.days[d][1]|upper }}</div>
			{% endfor %}
		</div>
		<div class="cal-row" id="blank-cal-row">
			<div class="cal-day">{{ cal.data }}</div>
			<div class="cal-day">{{ cal.months }}</div>
			<div class="cal-day">{{ cal.days }}</div>
		</div>
	</div>

	<script>
		const year = 2025
		const month = '07'
		const cal = document.querySelector('#calendar')
		const row = document.querySelector('#blank-cal-row')
		const children = Array.from(row.children)
		const data = JSON.parse(children[0].innerText.replaceAll("'", '"'))
		const m = JSON.parse(children[1].innerText.replaceAll("'", '"'))
		const d = JSON.parse(children[2].innerText.replaceAll("'", '"'))
		const current = data[year][month]
		const previous = data[year][String('0' + (Number(month) - 1))]

		const label = m[month][1].toUpperCase() + ' ' + year
		document.querySelector('.cal-label').innerText = label
	
		let rows = 0
		const { first, days } = current

		while (rows <= (days + first) / 7) {
			
			const new_row = row.cloneNode(true)
			const child = new_row.firstElementChild.cloneNode(true)
			new_row.innerHTML = ''

			for (let i = 1; i <= 7; i++) {
				const new_child = child.cloneNode(true)
				let text = String(rows * 7 + i - first + 1)
				if (Number(text) > days) {
					if (i === 1) break
					text = Number(text) - days
					new_child.classList.add('cal-day-dim')
				}
				if (Number(text) < 1) {
					text = Number(text) + previous.days
					new_child.classList.add('cal-day-dim')
				}
				new_child.innerHTML = `<span>${ text }</spam>`
				new_row.appendChild(new_child)
			}
			cal.appendChild(new_row)
			rows ++
		}
		cal.removeChild(row)
	</script>
{% endblock content %}