<form class='form-card sm-shadow-light' id='sign-up-form'>
	<div class="form-top">
		<span class="form-title">Become A Member</span>
		<p class='form-sm-text'>Receive updates and exclusive offers.</p>
	</div>
	<div class="form-line">
		<label for="first-name">First Name</label>
		<input type="text" name='first-name'>
	</div>
	<div class="form-line">
		<label for="last-name">Last Name</label>
		<input type="text" name='last-name'>
	</div>
	<div class="form-line">
		<label for="email">Email</label>
		<input type="email" name='email'>
	</div>
	<div class="form-line">
		<label for="age">Age Group</label>
		<select name="age">
			<option value="20s">Under 30</option>
			<option value="30s">30-39</option>
			<option value="40s">40-49</option>
			<option value="50s">50-59</option>
			<option value="old">60+</option>
		</select>
	</div>
	<div class="form-btns">
		<input type="submit" class='form-btn sm-shadow' value="Let's Go">
		<input id="no-thanks" type="button" class='form-btn-outline sm-shadow' value="No Thanks">
	</div>
	<script defer>
		
		// capture the form
		form = document.getElementById('sign-up-form')
		
		// submit function
		form.onsubmit = async (e) => {
			e.preventDefault()
			const data = getFormDataObj(e.target)
			response = await apiPostRequest('/api/user/new', data)
			if (!response.errors) hideModal()
			else {
				console.error(response.errors)
				Object.entries(response.errors).forEach(err => {
					const fieldName = err[0].split['_']
					console.log(fieldName)
					input = e.target.querySelector('input[name=' + err[0] + ']')
					input.value = err[1]
					input.classList.add('form-field-error')
					input.onfocus = (e) => {
						e.target.value = data[err[0]]
						e.target.classList.remove('form-field-error')
					}
				})
			}
		}
		
		// make the cancel button close the modal
		cancel = form.querySelector('#no-thanks')
		cancel.onclick = (e) => hideModal()

	</script>
</form>